@model AccessManagementServices.DOTS.LocationViewModel
@inject AccessManagementServices.Services.BasicInfoServices BasicInfoServices;
@{
    Layout = "_Layout";
    ViewData["Title"] = "编辑";
}

<br />
<h3>编辑</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="display:none;">
                <label asp-for="LocalNum" class="control-label"></label>
                <input asp-for="LocalNum" class="form-control" />
                <span asp-validation-for="LocalNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalBarCode" class="control-label"></label>
                <input asp-for="LocalBarCode" class="form-control" />
                <span asp-validation-for="LocalBarCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalName" class="control-label"></label>
                <input asp-for="LocalName" class="form-control" />
                <span asp-validation-for="LocalName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="StorageNum" class="control-label"></label>
                <input asp-for="StorageNum" class="form-control" />
                <span asp-validation-for="StorageNum" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="StorageType" class="control-label"></label>
                <input asp-for="StorageType" class="form-control" />
                <span asp-validation-for="StorageType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-items="@Model.Branchs" asp-for="BranchId" class="form-control"></select>
                <span asp-validation-for="StorageNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalType" class="control-label"></label>
                <select asp-items="@BasicInfoServices.GetLocalType()" asp-for="LocalType" class="form-control"></select>
                <span asp-validation-for="LocalType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="IsForbid" class="control-label"></label>
                <input asp-for="IsForbid" class="form-control" />
                <span asp-validation-for="IsForbid" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="IsDefault" class="control-label"></label>
                <input asp-for="IsDefault" class="form-control" />
                <span asp-validation-for="IsDefault" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="layui-btn" />
                <a asp-action="Index" class="layui-btn layui-btn-normal">返回</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
