@{
    ViewData["Title"] = "设置";
}

<br />
<h3>@ViewData["Name"]</h3>
<input style="display:none;" id="RoleId" value="@ViewData["Id"]">
<br />
<div class="form-group">
    <div id="functions" style="padding-left:20px;" lay-filter="allChoose"></div>
</div>

<div class="form-group">
    <input type="button" id="btnSave" value="保存" class="btn btn-primary" />
</div>
<script>
    layui.use('tree', function () {
        var tree = layui.tree;
        $.ajax({
            url: "/Role/GetFunctions?id=" + $("#RoleId").val(),
            dataType: "json",
            type: "Get",
            contentType: "application/json",
            error: function (data) {
                alert(data.message);
            },
            success: function (data) {
                //渲染
               var inst1 = tree.render({
                   elem: '#functions'  //绑定元素
                   , showCheckbox: true
                   , id: 'functions'
                    //, edit: ['add', 'update', 'del']
                    //, accordion: true
                    //, showLine: true
                    , data: data
                    , oncheck: function (obj) {
                        console.log(obj.data); //得到当前点击的节点数据
                        console.log(obj.checked); //得到当前节点的展开状态：open、close、normal
                        console.log(obj.elem); //得到当前节点元素
                    }
                });
            }
        });

        $("#btnSave").click(function () {
            //获得选中的节点
            var checkData = tree.getChecked('functions');
            var vms = { Id: $("#RoleId").val(), DataTree: checkData};
            $.ajax({
                url: "/Role/Set",
                data: vms,
                dataType: "json",
                type: "Post",
                error: function (data) {
                    alert(data.message);
                },
                success: function (data) {
                    if (data == "ok") {
                        window.location.href = '/Role/Index';
                    }
                    else {
                        alert("保存失败！");
                    }
                }
            });
        });

    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


