@model AccessManagementServices.DOTS.CompanyViewModel

@{
    ViewData["Title"] = "Setting";
}

<h1>Setting</h1>

<h4>CompanyViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Setting" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Model.Name</label>
            </div>
            @foreach (var item in Model.CompanyFunctionViewModels)
            {
            <div class="form-group">
                <label class="control-label">@item.Name</label>
                @foreach (var function in item.FunctionSelecteds)
                {
                <div class="form-group">
                    <label class="control-label">@function.Name</label>
                    <label class="control-label">@function.Selected</label>
                </div>
                }
            </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
